.pokemonTypes {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
  }
  
  .pokemonTypes li {
    border-radius: 24px;
    padding: 0.5em 1em;
  }
  