.pokedexCardContainer {
  position: relative;
  margin: 12px;
  max-width: 600px;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

.pokemonName {
  text-transform: capitalize;
}

.iconSection {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.iconButton {
  padding: 0.5em 1em;
}

.iconButton:hover {
  border-color: transparent;
}

.iconButton:focus,
.iconButton:focus-visible {
  outline: unset;
}

.icons {
  display: flex;
  height: 1.5em;
  width: 1.5em;
}

.shinyIcon {
  color: #ffd700;
}

.regularIcon {
  color: #c0c0c0;
}

.pokedexImage {
  will-change: filter;
  transition: transform 300ms, filter 300ms;
}

.pokedexImage:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.trophyCollections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  gap: 24px;

  @media screen and (max-width: 600px) {
    gap: 12px;
  }
}

.pokemonDetails {
  margin-bottom: 1em;
}
