.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.pokedex-card-container {
  position: relative;
  margin: 12px;
  max-width: 600px;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

.pokemon-name {
  text-transform: capitalize;
}

.icon-section {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.icon-button {
  padding: 0.5em 1em;
}

.icon-button:hover {
  border-color: transparent;
}

.icon-button:focus,
.icon-button:focus-visible {
  outline: unset;
}

.icons {
  display: flex;
  height: 1.5em;
  width: 1.5em;
}

.shiny-icon {
  color: #ffd700;
}

.regular-icon {
  color: #c0c0c0;
}

.pokedex-image {
  will-change: filter;
  transition: transform 300ms, filter 300ms;
}

.pokedex-image:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 2em #646cffaa);
}

.trophy-collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  gap: 24px;

  @media screen and (max-width: 600px) {
    gap: 12px;
  }
}

.pokemon-details {
  margin: 1em auto;
}
